<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 普通日志 -->
    <target xsi:type="File"
      name="Normal"
      filename="ModMaker/ModMaker.log"
      layout="[${callsite:methodName=false:includeNamespace=false:skipFrames=1}] ${level} ${message}${when:when=level==LogLevel.Error:inner=${when:when=exception!=null:inner=${newline}}${exception}}"
      encoding="utf-8"
      createDirs="true"
      deleteOldFileOnStartup="true"
      keepFileOpen="true" />
    <!-- 调试日志 -->
    <target xsi:type="File"
      name="Debug"
      filename="ModMaker/ModMaker.Debug.log"
      layout="[${callsite:skipFrames=1}] ${level} ${message}${when:when=level==LogLevel.Error:inner=${when:when=exception!=null:inner=${newline}}${exception}}"
      encoding="utf-8"
      createDirs="true"
      deleteOldFileOnStartup="true"
      keepFileOpen="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="Normal" />
    <!-- <logger name="*" minlevel="Debug" writeTo="Debug" /> -->
  </rules>
</nlog>